
<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1>職缺列表</h1>
  </div>
  <div>
    <ul class="list-group">
      <% @jobs.each do |job| %> 
        <a href="<%= job_path(:id => job.id) %>">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><%= job.name %></span>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
</div>